<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <!-- Billing -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />
    <!-- Contacts-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <!-- Camera, Photos, input file -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!-- Geolocation API -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps" />
    <!-- Navigator.getUserMedia -->
    <!-- Video -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <!-- Audio -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:name="CustomApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="${googleMapsApiKey}" />

        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_stat_name" />

        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/colorAccent" />

        <activity
            android:name=".ChannelsActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ChannelActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ChannelThreadActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".MediaGalleryPreviewActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".PollCreationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".SplashActivity"
            android:launchMode="standard"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
            android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <!--
                This is a hacky workaround to solve issues with opening the wrong Activity when getting notifications meant for the MainActivity.

                Chapter 1:
                It's actually caused by marking the `SplashActivity` as the `MAIN` `LAUNCHER`.
                That, in turn, was another workaround to solve this issue: https://stackoverflow.com/questions/78977516
                Which was apparent when ChannelActivity or ChannelsActivity was opened after opening MainActivity

                Chapter 2:
                The Capacitor Push Notifications Plugin calls this method: `createNotificationInfo`.
                Within that method `setContentIntent` is called.
                That method is given an intent. The intent is generated in a specific order.
                One of the first things that is called is `getLaunchIntentForPackage`.
                That method normally gets the `MAIN` `LAUNCHER` from the AndroidManifest
                BUT it first checks for an existing `MAIN` `INFO`
                In most apps that doesn't exist. But we specify it now, so it gets priority.
                Otherwise it would return `.SplashActivity`, which is the wrong activity to start here.

                Chapter 3:
                It would probably be better to provide `PushNotificationsPlugin` with our own manually specified activity.
                But that's not an option yet.
                Plus it would mean that `PushNotificationsPlugin` needs to rewrite quite a lot of code,
                that is currently abstracted away into the Firebase SDK.

                Amen
                -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>

            <!-- BEGIN BRANCH -->
            <!-- Branch universal link domains -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="@string/applink_host"/>
                <data android:host="@string/applink_host_alternate"/>
            </intent-filter>
            <!-- END BRANCH -->

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"/>
                <data android:host="app.amigosapp.nl"/>
                <data android:host="qa.app.amigosapp.nl"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/custom_url_scheme" android:host="oauth" />
                <data android:scheme="@string/deeplink_scheme"/>
            </intent-filter>

        </activity>

        <!-- BEGIN BRANCH -->
        <!-- Branch init -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="@string/branch_key" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="@string/branch_test_key" />
        <meta-data android:name="io.branch.sdk.TestMode" android:value="@bool/branch_test_mode" />
        <!-- END BRANCH -->

        <!-- BEGIN FACEBOOK -->
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token"/>
        <!-- END FACEBOOK -->

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".CustomFirebaseMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>
